.aboutimg{
    width: 590px;
    height: 277px;
}

.imgcapt{
    width: 608px;
    height: 25px;

    margin: 0 auto;
    margin-bottom: 64px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155.8%;
    /* identical to box height, or 25px */

    text-align: center;
    text-transform: capitalize;

    color: #000000;

}

.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 155.8%;
    /* identical to box height, or 50px */

    text-transform: capitalize;

    /* merah */

    color: #F43B31;

    margin-bottom: 64px;
}

.vid{
    margin-bottom: 128px;
}
.vidcapt{
    position: absolute;
    width: 591px;
    height: 279px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */

    text-align: justify;
    /* warna tulisan */

    color: #3C3C3C;
}

.ig{
    color: #F43B31;
}

.caption1a{
    position: absolute;
    left: 96px;
    top: 225px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* identical to box height */
  
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
  
    /* merah */
  
    color: #F43B31;
}



.caption2a{
    position: absolute;
    left: 90px;
    top: 230px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
  
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
  
    /* merah */
  
    color: #F43B31;

}

.caption3a{
    position: absolute;
    left: 96px;
    top: 225px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
  
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
  
    /* merah */
  
    color: #F43B31;
}

.border1a{
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    padding: 71.47px 116px 300px 116px;
}

.caption1ab{
    position: absolute;
    left: 25px;
    top: 275px;
    width: 328px;
    height: 169px;
    padding: 10px 15px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    /* tulisan grey */

    color: #7C7C7C;
}

.caption2ab{
    position: absolute;
    left: 25px;
    top: 275px;
    width: 328px;
    height: 169px;
    padding: 10px 15px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    /* tulisan grey */

    color: #7C7C7C;
}

.caption3ab{
    position: absolute;
    left: 25px;
    top: 275px;
    width: 328px;
    height: 169px;
    padding: 10px 15px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    /* tulisan grey */

    color: #7C7C7C;
}

.rasa:hover + .caption1a,
.karsa:hover + .caption2a,
.ilmu:hover + .caption3a {
    color: #FFFFFF !important;
    background-color: #F43B31;
}

.rasa:hover + .caption1a + .caption1ab,
.karsa:hover + .caption2a + .caption2ab, 
.ilmu:hover + .caption3a + .caption3ab {
    color: #FFFFFF !important;
    background-color: #F43B31;
}

.pic{
    width: 262px;
    height: 262px;
    margin: 0px 145px 217px ;
    display: inline-block;
}

.nama{
    position: absolute;
    width: 267px;
    height: 33px;
    left: 260px;
    top: 2110px;
}

.role{
    position: absolute;
    width: 267px;
    height: 36px;
    left: 335px;
    top: 2150px;
}

.nama1{
    position: absolute;
    width: 267px;
    height: 33px;
    left: 820px;
    top: 2110px;
}

.role1{
    position: absolute;
    width: 267px;
    height: 36px;
    left: 870px;
    top: 2150px;
}

.nama, .nama1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 163.35%;
    /* or 39px */

    text-align: center;

    /* warna tulisan */

    color: #3C3C3C;
}

.role, .role1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;

    /* warna tulisan */

    color: #3C3C3C;
    opacity: 0.5;
}