
/* searchbar */
.srchbr{
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.08;
    letter-spacing: normal;
    color: #3c3c3c;
    border-radius: 20px;
}

/* header */
.header1 {
    width: auto;
    height: 60px;
    font-family: Poppins;
    font-size: 33px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3C3C3C;
    margin-bottom: 64px;
    margin-top: 87px ;
}
  
/* carousel */
.wreadnext {
    width: 181px !important;
    height: 40px !important;
}
  
.ccapt{
    margin-left: -130px;
    margin-top: 5px;
    position: absolute;
    width: 800px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}
  
/* kategori donasi */
.kat2{
    margin-top: 80px;
    font-family: Poppins !important;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    color: #3C3C3C;
}
  
.pkat{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #7C7C7C;
}
  
.border1{
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    padding: 71.47px 116px 173.23px 116px;
}
  
  
.rasa{
    width: 100%;
    height: 100%;
}
  
.karsa{
    width: 100%;
    height: 100%;
}
  
.ilmu{
    width: 100%;
    height: 100%;

}
  
.caption1 {
    position: absolute;
    left: 96px;
    top: 275px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* identical to box height */
  
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
  
    /* merah */
  
    color: #F43B31;
}
  
.caption2 {
    position: absolute;
    left: 90px;
    top: 275px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
  
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
  
    /* merah */
  
    color: #F43B31;
}
  
.caption3 {
    position: absolute;
    left: 100px;
    top: 275px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
  
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
  
    /* merah */
  
    color: #F43B31;
}
  
.rasa:hover + .caption1,
.karsa:hover + .caption2,
.ilmu:hover + .caption3 {
    color: #FFFFFF !important;
    background-color: #F43B31;
}
  
.rasa:hover,
  .karsa:hover,
  .ilmu:hover{
    color: #FFFFFF !important;
    background-color: #F43B31;
}
  
/* counter banner */
.counter{
    width: 1110px ;
    height: 432px;
    object-fit: contain;
    margin-top: 93px;
}

.Wdana{
    position: absolute;
    width: 358.23px;
    height: 32px;
    top: 1430px;
    left: 240px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    /* cream */
    color: #FFFDD1;
}

.Wjumlahdana{
    position: absolute;
    width: 371.16px;
    height: 80px;
    left: 230px;
    top: 1470px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    /* cream */

    color: #FFFDD1;
}

.Wdonatur{
    position: absolute;
    width: 358.23px;
    height: 32px;
    top: 1600px;
    left: 250px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    /* cream */

    color: #FFFDD1;
}

.Wjumlahdonatur{
    position: absolute;
    width: 285.59px;
    height: 80px;
    left: 339px;
    top: 1640px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    /* cream */

    color: #FFFDD1;
}