/* navbar */
.navbar1 {
    margin-top: 5px;
    margin-bottom: 20px;
}
  
.logo{
    width: 234px;
    height: 94px;
}
  
.nav-item{
    margin-right: 50px;
    margin-top: 13px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    align-self: center;
}
  
.nav-item1{
    margin-right: 50px;
    margin-top: 13px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    align-self: center;
}
  
.navbtn{
    margin: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    margin-top: 13px;
    align-self: center;
}
  
.btn-navbar {
    color: #F43B31;
    border-color: transparent;
    border-radius: 19px;
    width: fit-content;
    height: fit-content;
    padding: 0px 21px;
    text-align: center;
}
  
.btn-navbar:hover {
    color: #fff !important;
    background-color: #F43B31;
    border-color: #F43B31;
}
  
.btn-navbar:focus, .btn-navbar.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
  
.btn-navbar.disabled, .btn-navbar:disabled {
    color: #F43B31;
    background-color: transparent;
}
  
.btn-navbar:not(:disabled):not(.disabled):active, .btn-navbar:not(:disabled):not(.disabled).active,
.show > .btn-navbar.dropdown-toggle {
    color: #fff !important;;
    background-color: #F43B31;
    border-color: #F43B31;
}
  
.btn-navbar:not(:disabled):not(.disabled):active:focus, .btn-navbar:not(:disabled):not(.disabled).active:focus,
  .show > .btn-navbar.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
  
.btn1{
    width: 78px;
    height: 40px;
    
    background-color: #FFFFFF;
    border: 1px solid #C50E04;
    border-radius: 20px;
    color: #F43B31;
}
  
.btn1:hover{
    color: #FFFFFF !important;
    background-color: #F43B31;
}
  
.WUsername{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;
    margin-top: 30px;
    margin-right: 20px;

    /* merah */

    color: #F43B31;

}

.ppcoba{
    width: 32px;
    height: 32px;
    margin-top: 25px;
}